h1{
	text-align: left;
	font-family: Courier;
	background-color: #5d5d5d;
}

li{
	font-family: Courier;
}

.column1{
	width: 40%;
	float:left;
	margin:20px;
}

.column2{
	width: 40%;
	float:left;
	margin:20px 20px 20px 60px;
}

.facebook{
	position:fixed;
	top:350px;
	left:10px;
}

.twitter{
	position:fixed;
	top:200px;
	left:10px;
}